<a href="https://colab.research.google.com/github/GowravTata/Visualization/blob/master/Plotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
from plotly.offline import iplot
import plotly as py
import plotly.tools as tls
import cufflinks as cf

In [52]:
data = pd.read_csv('/content/flight_train_data.csv')
data.head()

       Airline        Date Departure Station  ...     Stops Extra Info  Price
0       IndiGo  24/03/2019          Banglore  ...  non-stop    No info   3897
1    Air India   1/05/2019           Kolkata  ...   2 stops    No info   7662
2  Jet Airways   9/06/2019             Delhi  ...   2 stops    No info  13882
3       IndiGo  12/05/2019           Kolkata  ...    1 stop    No info   6218
4       IndiGo  01/03/2019          Banglore  ...    1 stop    No info  13302

[5 rows x 11 columns]

In [53]:
data.Date = pd.to_datetime(data['Date'])

In [62]:
data['Day'] = data.Date.dt.day_name()

In [63]:
data.head()

       Airline       Date Departure Station  ... Extra Info  Price       Day
0       IndiGo 2019-03-24          Banglore  ...    No info   3897    Sunday
1    Air India 2019-01-05           Kolkata  ...    No info   7662  Saturday
2  Jet Airways 2019-09-06             Delhi  ...    No info  13882    Friday
3       IndiGo 2019-12-05           Kolkata  ...    No info   6218  Thursday
4       IndiGo 2019-01-03          Banglore  ...    No info  13302  Thursday

[5 rows x 12 columns]